.container{
    display :grid;
    grid-gap: 3px;
    grid-template-columns: repeat (2 / 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
}

.nav{
    grid-template-columns: 1/-1;
    background:#07ffeb;
}

.main{
    background: #84ffff;
    
}
.content1{
    background: #d8f007;
    

}

.content2{
    color:white;
    background: #020c46;
    
}

.content3{
    background: #225b3b;
    
}

.content4 
{
    background: #73ffb0;
   
}
 
#content4 
p {
    color: red;
}

#navH1 {
    color: white;
    text-align: center;
}

footer{
    background: #1de9b6;
    grid-template-columns: 1/ -1;
}

@media only screen and (max-width: 550px) {

    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: 
        "nav"
        "sidebar"
        "main"
        "content2"
        "content1"
        "content3"
        "content4"
        "footer"
        ;
    }

}

