.container{
    display :grid;
    grid-gap: 3px;
    grid-template:100px/repeat(6,1fr) ;
    justify-items: center;
    
}
.main{
    display :grid;
    grid-gap: 3px;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr)) ;
    grid-auto-rows: 220px;
    justify-content: center;
    
}
.nav{
    display: flex;
    justify-self: center;
    }

.content{
    /*background: #225b3b;*/
    justify-content: center;
    align-content: center;       
}
footer{
    background: #1de9b6;
    grid-template-columns: 1/ -1;
}

/*@media only screen and (max-width: 550px) {

    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: 
        "nav"
        "sidebar"
        "main"
        "content2"
        "content1"
        "content3"
        "content4"
        "footer"
        ;
    }

}*/

