.header{
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr;
}
.header img {
   height: 100%;
   width: 100%;
   object-fit: contain; 
}
.container{
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: repeat(6,150px);
    justify-items:center ;
}
.container img {
   height: 100%;
   width: 100%;
   object-fit: contain; 
}

/*Empiezo con los Items*/

.item2{
    display: flex;
    grid-row: 2 ;
}
.item3{
    display: flex;
    grid-row: 3 ;
}
.item4{
    display: flex;
    grid-row: 4 ;
}
.item5{
    display: flex;
    grid-row: 5 ;
}







